/* Background Colours */
body {
	background-color: $white;
}

header.header .logo.plain a, .main-archive article .post-wrapper:after,
.main-archive article.no-image, .owl-prev:hover, .owl-next:hover, a.more-link:hover {
	background-color: $offblack;
}

a.more-link:hover {
	opacity: 1 !important;
}

#menu-trigger svg#menu-icon {
	fill: $white;
}

.tag-template #menu-trigger svg#menu-icon, .author-template #menu-trigger svg#menu-icon, .search #menu-trigger svg#menu-icon, .sans-image #menu-trigger svg#menu-icon {
	fill: $offblack;
}

.owl-prev svg.owl-left, .owl-prev svg.owl-right {
	fill: $offblack;
}

#menu-trigger.active:hover:before, #menu-trigger.active:hover:after, #menu-trigger.active:hover span:before {
	opacity: .7;
}

.f-expander, .main-archive article.no-image:nth-of-type(2n), .owl-prev, .owl-next {
	background-color: $white;
}

.owl-prev:hover svg.owl-left, .owl-next:hover svg.owl-right {
	fill: $white;
}

.owl-next, .image-caption {
	background-color: $lightgrey;
}

footer.footer {
	background-color: $justgrey;
}

.comments-form + footer.footer {
	background-color: $white;
}



/* Font Colours */
body, .author-enhanced a, .author-enhanced .fa, .main article.result a {
	color: $default;
}

a, .comment-reply-link:hover, button:hover, input[type="submit"]:hover,
.author-wrap h6 a:hover, .widgets a:hover, .comment-body .url:hover, .comment-moderation {
	color: $accent;
}

.main-archive .result.author-enhanced, .main-archive .result.author-enhanced .meta, .meta, .meta a, .comment-date, .author-wrap h6 span, footer a, .pagination a, .widgets, .widgets .tagcloud a, .widgets .header-widgets .tagcloud a {
	color: $grey;
}

.author-wrap h6 a, footer a:hover, .pagination a:hover, .widgets a, .widgets .tagcloud a:hover, .main-archive article.no-image:nth-of-type(2n) *, article.no-image:nth-of-type(2n) a,
.comment-body .url, .owl-next, .owl-prev,
.comment-reply-link,
.meta .share-on, .meta .share-on, .meta .share-on .social:hover,  .meta.bottom {
	color: $offblack;
}

.widgets.header-widgets *,
.header-widgets .tagcloud a:hover {
	color: $lightgrey;
}

.main-archive .meta, .main-archive .meta a, header.header .logo.plain a, .main-archive article,
.main-archive article a, .post-navigation, .post-navigation a, .post-navigation *, .widgets.header-widgets a, #menu a, .owl-next:hover, .owl-prev:hover {
	color: $white;
}

@include em-min-width(640) {

	.with-image .post-header, .with-image .post-header a, .with-image .post-header h1, .with-image .post-top .meta, .with-image .post-top .meta a {
		color: $white;
	}

}


.meta .share-on .twitter {
	color: #55acee;
}

.meta .share-on .facebook {
	color: #3c599f;
}

.meta .share-on .pinterest {
	color: #cb2027;
}

.meta .share-on .googleplus {
	color: #c63d2d;
}




a:hover, #comments  {
	color: $accenthover;
}


/* Border Colours */
.more-link, header.header .logo.plain a:hover, #overlay input.s {
	border-color: $white;
}

blockquote, .comment-reply-link:hover, button:hover, input[type="submit"]:hover {
	border-color: $accent;
	background: transparent;
}

.comment-reply-link, .btn, button, input[type="submit"], .tagcloud a:hover, article.no-image:nth-of-type(2n) .more-link {
	border-color: $offblack;
}

.meta-hold, .main .author-wrap, .widgets ul:after, .header-widgets .tagcloud a:hover {
	border-color: $lightgrey;
}

.widgets.header-widgets ul:after {
	border-color: $charcoal;
}

.tagcloud a {
	border-color: $grey;
}

#overlay input.s {
	background: transparent;
}
