<footer class="footer">
    <div class="wrapper">
           <p class="font-effect-anaglyph">&copy; 2015 {{@blog.title}}.</p>

          <p>
            <div class="home-content font-effect-anaglyph">
                 	<!-- Add Social Icons, Font Awesome icon set -->
                    <a href="https://twitter.com/nodontdie" target="_blank"><i class="fa fa-twitter social-icon"></i></a>
                    <a href="http://nodontdie.tumblr.com/" target="_blank"><i class="fa fa-tumblr social-icon"></i></a>
                    <a href="http://feeds.feedburner.com/dontdie" target="_blank"><i class="fa fa-rss social-icon"></i></a>
                    <a href="http://eepurl.com/bdJ6iT" target="_blank"><i class="fa fa-envelope socia-icon"></i></a>
          </div>
         </p>

          <p>
            <!-patreon info-->
            <div class="home-content font-effect-anaglyph">
              <a href="https://www.patreon.com/davidwolinsky" target="_blank"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <h4>Support Via Patreon</h4></a>
            </div>

          </p>

    </div>
</footer>
