<footer class="footer">
    <div class="wrapper">




           <p class="copyright"> <span id="footer-text">&copy; 2015 {{@blog.title}}.</p>

          <p>
         	<!-- Add Social Icons -->
           <a class="social twitter" href="https://twitter.com/nodontdie" target=“_blank">Twitter</a>
           <a class="social tumblr" href="http://nodontdie.tumblr.com/" target=“_blank">Tumblr</a>
           <a class="social rss" href="http://feeds.feedburner.com/dontdie" target=“_blank">RSS</a>
          </p>


    </div>
</footer>
