<!-- Home Hero Text here -->
<div class="font-effect-anaglyph glitch" data-text="DON'T DIE"><h1>DON'T DIE</h1></div>

<div class="home-content glitch">a videogame confessional forum to mitigate the industry's growing rifts</div>
