<!-- Home Hero Text here -->
<div class="glitch font-effect-anaglyph" data-text="DON'T DIE"><h1>DON'T DIE</h1></div>

<div class="home-content glitch">a videogame confessional to mitigate the growing rifts in the industry</div>
