<!-- Home Hero Text here -->
<div class="font-effect-anaglyph glitch" data-text="{{@blog.title}}"><h1>{{@blog.title}}</h1></div>

<div class="home-content glitch" data-text="{{@blog.description}}"><a href="/about/">{{@blog.description}}</a></div>
