<!-- Home Hero Text here -->
<div class="glitch font-effect-anaglyph" data-text="{{@blog.title}}"><h1>{{@blog.title}}</h1></div>

<div class="home-content font-effect-anaglyph" data-text="{{@blog.description}}"><a href="/about/">{{@blog.description}}</a></div>

<div class="home-content font-effect-anaglyph" data-text="new interviews every other friday"><a href="/about/">new interviews every other friday</a></div>


<br>
<div class="home-content font-effect-anaglyph">
  <a href="https://www.patreon.com/davidwolinsky" target="_blank"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <h4>Support Via Patreon</h4></a>
</div>
