<!-- Home Hero Text here -->
<div class="glitch font-effect-anaglyph" data-text="{{@blog.title}}"><h1>{{@blog.title}}</h1></div>

<div class="home-content font-effect-anaglyph" data-text="{{@blog.description}}"><a href="/about/">{{@blog.description}}</a></div>

<div class="home-content font-effect-anaglyph" data-text="new interviews every tues + fri"><a href="/about/">new interviews every tues + fri</a></div>


<br>
<div class="home-content font-effect-anaglyph">
<!-patreon info-->
<button type="button" class="btn btn-default btn-sm">
  <a href="https://www.patreon.com/davidwolinsky" target="_blank"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Support Via Patreon</a>
</button>



</p>
</div>
