<!-- Navigation here -->

<div id="overlay">
<nav id="menu" role="navigation">
<ul class="nav">

  <li><a href="/">_home</a></li>
  <li><a href="/about/">_readme/contact</a></li>
  <li><a href="https://www.patreon.com/davidwolinsky" target="_blank">_support on patreon</a></li>


<!-- Handlebar nav is still buggy....
  {{#foreach @blog.navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
  {{/foreach}}-->


  <li><a href="http://feeds.feedburner.com/dontdie" target="_blank"><i class="fa fa-rss"></i>_feed</a></li>
  <li><a href="http://eepurl.com/bdJ6iT" target="_blank"><i class="fa fa-envelope"></i>_newsletter</a></li>



</nav>
</div>
