<!-- Navigation here -->

<div id="overlay">
<nav id="menu" role="navigation">
<ul>
<li><a href="/">_home</a></li>
<li><a href="/author/dev/">_people who make games</a></li>
<li><a href="/author/player/">_people who played games</a></li>
<li><a href="https://www.patreon.com/davidwolinsky">_support on patreon</a></li>


</ul> </nav>
</div>
