<!-- Navigation here -->

<div id="overlay">
<nav id="menu" role="navigation">
<ul class="nav">

  <li><a href="/">_home</a></li>
  <li><a href="#">_interviews</a>
    <li><a href="#">by game</a></li>
    <li><a href="#">by date</a></li>
  </li>



  <li><a href="/about/">_readme/contact</a></li>
  <li><a href="https://www.patreon.com/davidwolinsky" target="_blank">_support on patreon</a></li>


<!-- Handlebar nav is still buggy....
  {{#foreach @blog.navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
  {{/foreach}}-->


  <li><a href="http://feeds.feedburner.com/dontdie" target="_blank"><i class="fa fa-rss"></i>_feed</a></li>
  <li><a href="http://eepurl.com/bdJ6iT" target="_blank"><i class="fa fa-envelope"></i>_newsletter</a></li>
  <li>
    <script>
  (function() {
    var cx = '002681772143703589656:qsuosiayir4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
    </script>
    <gcse:search></gcse:search>
  </li>



</nav>
</div>
