<!-- Navigation here -->

<ul id="menu">
  <li><a class="scroll" href="#features">Features</a></li>
  <li><a class="scroll" href="#usage">Usage Instructions</a></li>
  <li><a class="scroll" href="#examples">Examples</a></li>
  <li><a href="http://github.com">View on Github</a></li>
</ul>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="../jquery.slicknav.js"></script>
<script type="text/javascript">
$('#menu').slicknav({
    prependTo:'#demo1'
});
</script>