{{#if next}}<div class="pagination" id="nav-below">
			<span class="previous-posts">{{#if prev}}
					<h2 class="font-effect-anaglyph glitch" data-text="Previous Stories"> <a href="{{page_url prev}}">Previous Stories</a> </h2>
			{{/if}}</span>
			<span class="next-posts">{{#if next}}
					<h2 class=font-effect-anaglyph glitch data-text="More Stories"> <a href="{{page_url next}}">More Stories</a> </h2>
			{{/if}}</span>
	</div>
{{/if}}
