{{#if next}}<div class="pagination VHS" id="nav-below">
			<span class="previous-posts">{{#if prev}}
					<h2 class="glitch" data-text="Previous Stories"> <a href="{{page_url prev}}"><i class="fa fa-fast-backward"></i></a> </h2>
			{{/if}}</span>
			<span class="next-posts">{{#if next}}
					<h2 class="glitch" data-text="More Stories"> <a href="{{page_url next}}"><i class="fa fa-fast-forward"></i></a> </h2>
			{{/if}}</span>
	</div>
{{/if}}
