/* ==========================================================================
		Forms
	========================================================================== */

@include placeholder($grey);

input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea {
	background-color: $justgrey;
	border-radius: 0;
	-webkit-appearance: none;
	outline: none;
	width: auto;
	padding: 10px 10px 12px 10px;
	border: 2px solid $offblack;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
}

input[type="submit"], button {
	-webkit-appearance: none;
}

input[type="text"]:hover, input[type="url"]:hover, input[type="email"]:hover,
input[type="tel"]:hover, input[type="password"]:hover, textarea:hover {
	background-color: $white;
	color: $offblack;
}

input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus,
input[type="tel"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: $white;
	border-color: $accent;
	color: $offblack;
	box-shadow: none;
}

select {
	width: 100%;
}

input.searchsubmit,
input[type="submit"].searchsubmit {
	display: none;
}
