/* ==========================================================================
   Media Queries
   ========================================================================== */

@include em-min-width(640) {

  .swap-transition {

        .main-archive {

              article.with-image {

                    &:before {
                      opacity: .7;
                    }

                    &:hover {

                          &:before {

                            opacity: 0;

                        }

                    }

              }

        }

  }

      .post-template, .page-template {

        .featured-image {

            img {
              opacity: .33;
              @include transition(opacity,.25)
            }

        }

  }



  .ie9.menu-drawer #overlay, .ie9 .drawer-open .wrap #overlay {
    right: 0 !important;
  }

  .ie9.menu-drawer .drawer-open .wrap {
      right: 330px;


      #overlay {
        display: block !important;
        right: -330px !important;
        z-index: 9;
        width: 350px;
      }
  }

    .main-archive {

          article.home-article, article.home-article:first-of-type {
            height: 500px;
          }

    }

    .image-caption {
      position: absolute;
      right: 54px;
      bottom: 0;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 54px;
      width: auto;
    }


    .main-archive {

        article {
          position: relative;


          &.with-image.format-gallery {

                .featured-image img {
                  opacity: 1;
                }

          }


            &.with-image.buttons-on:hover {

                    .featured-image {
                          img {
                            opacity: 1;

                          }
                    }

            }

            &.with-image {
              margin-top: -1px;
              background-color: $black;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;


              &:before {
                content: '';
                background-color: $black;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                @include transition(opacity,.25);

                    /*-webkit-transform: translatez(0);
                    -moz-transform: translatez(0);
                    -ms-transform: translatez(0);
                    -o-transform: translatez(0);
                    transform: translatez(0); */

              }

              .featured-image img {
                opacity: 0;
              }


              &:hover {

                    &:before {

                      opacity: .7;

                  }

              }

                  .post-wrapper {
                    background-image: none !important;
                    position: absolute;
                    width: 46%;
                    bottom: 0;
                    right: 0;
                    text-align: right;
                    z-index: 2;
                    padding: 30px;

                    &:after {
                      background-color: transparent;
                    }

                        .post-inner {
                          padding: 20px 0;
                          display: inline-block;
                          width: 100%;
                          text-align: left;
                        }

                  }


              &:nth-of-type(2n) {

                .post-wrapper {
                  text-align: left;
                  right: 0;
                  left: 0;

                      .post-inner {
                        margin-left: 20px;
                      }

                }

              }

            }

        }

    }

.comments-form {

        padding-top: 100px;
        padding-bottom: 120px;

}

  .main {

          .meta-hold {
            margin-bottom: -7px;
          }

          .meta.bottom {
            float: left;
            padding-left: 10px;
          }

          ul.sharer {
            float: right;
            margin-top: 0;
            padding-right: 10px;
        }





      .post-inner, .post-align {
        padding-left: 20px;
        padding-right: 20px;
      }





      .with-image.format-audio {

              .post-header-inner {
                margin-bottom: 40px;
              }


              .post-audio {
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 3;
              }

      }


      .with-image {

        .post-top {
          height: $expandHeight;
          overflow: hidden;
        }



        .post-header {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          text-align: left;
          z-index: 2;


                .post-header-inner {
                  padding: 20px 0;
                  display: block;
                  width: 100%;
                  max-width: 820px;
                  margin-left: auto;
                  margin-right: auto;
                  text-align: left;
                }


          }

      }

    .post-inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }

  }

  .post-navigation {

          .previous-post-link,
          .next-post-link {
            display: table-cell;
            width: 50%;


                a {

                        .nav-inner {
                          height: 270px;
                        }

                }

            }


  }

  .widgets {

        .widget {
          display: inline-block;
          width: 50%;
          margin-right: -5px;
          padding: 0 20px;
          float: left;

          ul {
            &:after {
              display: none;
            }
        }

      }

  }




}


@include em-min-width(760) {

  .main-archive {

        article.home-article, article.home-article:first-of-type {
          height: 800px;
        }

  }

  .widgets {

        .widget {
          display: inline-block;
          width: 33.3333%;
          margin-right: -5px;
          padding: 0 30px;
          float: left;
        }

  }

  .main {

    .with-image {



    }

  }


  .main-archive {

      article {


        &.with-image {

                    .post-wrapper {
                        width: 44%;



                    }




        &.format-audio.with-image {
          .post-wrapper {
            padding-top: 70px;
          }
        }


        }



      }


      }


      .menu-default #overlay {

              #menu {
                text-align: center;

                li {
                  display: inline;
                  margin: 0;
                  padding: 0;
                  border-bottom: none;
                  position: relative;


                        a {
                          display: inline-block;
                        }

                        ul {
                          display: none;

                          li {
                            border-top: none;
                          }

                        }

                  &:hover {

                    ul {
                      display: block;
                      position: absolute;
                      width: 150px;
                      padding: 10px;
                      left: 10px;
                      margin-left: -50%;
                      top: 30px;
                      background: $offblack;
                      float: left;
                      border: 2px solid $charcoal;

                              &:after, &:before {
                              	bottom: 100%;
                              	left: 50%;
                              	border: solid transparent;
                              	content: " ";
                              	height: 0;
                              	width: 0;
                              	position: absolute;
                              	pointer-events: none;
                              }

                              &:after {
                              	border-color: rgba(136, 183, 213, 0);
                              	border-bottom-color: $offblack;
                              	border-width: 8px;
                              	margin-left: -8px;
                              }

                              &:before {
                              	border-color: rgba(194, 225, 245, 0);
                              	border-bottom-color: $charcoal;
                              	border-width: 11px;
                              	margin-left: -11px;
                              }





                      li {
                        padding: 0;
                        display: block;

                          a {
                            display: block;
                            padding-top: 5px;
                            padding-bottom: 5px;
                          }

                      }

                    }

                  }

                }

                &:after {
                  margin-bottom: 50px;
                  display: block;
                }

              }

      }


}


@include em-min-width(800) {

  .main-archive {

        article.home-article {
          background-attachment: fixed;
        }

  }

  .js .home .main-archive, .js .blog .main-archive, .js .page-template-template-t-index-php .main-archive {

        article:first-of-type {
          position: fixed;
        }


  }

  .main-archive {

        article:first-of-type {
          height: 100%;
          width: 100%;
          z-index: 3;
        }

        article.home-article {
          z-index: 4;
        }

  }





}

@include em-min-width(1000) {

    .post-navigation {

          .previous-post-link,
          .next-post-link {

                  a {

                          .nav-inner {
                            height: 320px;
                          }

                  }
          }

    }

}

@include em-min-width(1025) {

      .hover-off {

              .main-archive {

                    article.with-image {

                          .post-wrapper {
                            opacity: 1;
                          }

                    }

              }

      }

      .main-archive {




            article.with-image {

                  .post-wrapper {
                    opacity: 0;
                    @include transition(opacity,.25);

                  }

              &.buttons-on:hover {
                .post-wrapper {
                  opacity: 0;
                }
              }

              &:hover {
                .post-wrapper {
                  opacity: 1;
                }








              }

            }

      }


}

@include em-min-width(1200) {

  .post-navigation {

          .previous-post-link,
          .next-post-link {
                a {

                        .nav-inner {
                          height: 370px;
                        }

                }

            }


  }


}


@include em-min-width(1500) {

  .post-navigation {

          .previous-post-link,
          .next-post-link {
                a {

                        .nav-inner {
                          height: 440px;
                        }

                }

            }


  }


}

@include em-min-width(1800) {

  .post-navigation {

          .previous-post-link,
          .next-post-link {
                a {

                        .nav-inner {
                          height: 530px;
                        }

                }

            }


  }


}


@include em-max-width-and-height(1024,768) {

  .main-archive {

        article.home-article {
          background-attachment: scroll;
        }

  }

}
