/* ==========================================================================
    Shortcodes
  ========================================================================== */

.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
  width:100%;
}

.one_third + .one_third {
  margin-top: 40px;
}

.last {
  margin-right:0 !important;
  clear:right;
}

.clearboth {
  clear: both;
  display: inline-block;
  font-size:0;
  height:0;
  line-height:0;
  width:100%;
}

.clear {
  clear:both;
  display:block;
  width:100%;
  float: left;
}



@include em-min-width(700) {

      .one_half,
      .one_third,
      .two_third,
      .three_fourth,
      .one_fourth,
      .one_fifth,
      .two_fifth,
      .three_fifth,
      .four_fifth,
      .one_sixth,
      .five_sixth {
        position:relative;
        margin-right:4%;
        float:left;
      }

      .one_half {
        width:48%;
      }

      .one_third {
        width:30.66%;
      }

      .one_third + .one_third {
        margin-top: 0;
      }

      .two_third {
        width:65.33%;
      }

      .one_fourth {
        width:22%;
      }

      .three_fourth {
        width:74%;
      }

      .one_fifth {
        width:16.8%;
      }

      .two_fifth {
        width:37.6%;
      }

      .three_fifth {
        width:58.4%;
      }

      .four_fifth {
        width:67.2%;
      }

      .five_sixth {
        width:82.67%;
      }


}



@include em-min-width(1200) {

    .one_sixth {
        width:13.33%;
      }

}




a.btn,
a.button,
a.button:visited {
	background: #ec6a5d;
	border: none;
	color: #fff !important;
	padding: 12px 30px;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
	display: inline-block;
	text-decoration: none;
	margin-bottom: 1em;
}

a.button.square {
	border-radius: 2px;
}

a.button.large,
a.btn.large {
	padding: 20px 70px;
}

a.button:hover,
a.btn:hover {
	tbackground: #474747;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.5);
	text-decoration: none;
	color: #fff !important;
}

a.button:active {
	position: relative;
	top: 1px;
}

a.button.grey {
	background: #757c7e !important;
}

a.button.grey:hover {
	background: #3e4345 !important;
}

a.button.black {
	background: #333 !important;
}

a.button.black:hover {
	background: #000 !important;
}

a.button.green {
	background: #b3ce7e !important;
}

a.button.green:hover {
	background: #7e9b47 !important;
}

a.button.light-blue {
	background: #8aabb5 !important;
}

a.button.light-blue:hover {
	background: #4b7784 !important;
}

a.button.blue {
	background: #3da1e3 !important;
}

a.button.blue:hover {
	background: #266476 !important;
}

a.button.red {
	background: #f77564 !important;
}

a.button.red:hover {
	background: #b75548 !important;
}

a.button.orange {
	background: #f7a664 !important;
}

a.button.orange:hover {
	background: #cf6916 !important;
}

a.button.purple {
	background: #a18bcf !important;
}

a.button.purple:hover {
	background: #6547a4 !important;
}

a.button.pink {
	background: #e38f8f !important;
}

a.button.pink:hover {
	background: #c76d6d !important;
}


.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; }
.clearfix { zoom:1; }



.socials {
	text-align: center;
}

a.social {
	display: inline-block;
	position: relative;
	width: 22px;
	height: 22px;
	margin-left: 5px;
	margin-bottom: 5px;
	-o-transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
	opacity: 0.2;
	filter:alpha(opacity=20);
	text-indent: -9999em;
	color: rgba(0,0,0,0) !important;
	font-size: 1px;
	line-height: 22px;
	border: none !important;
}

a.social:hover {
	-o-transition: opacity 0.25s ease-in;
	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	opacity: 0.9;
	filter:alpha(opacity=90);
}

a.social:first-of-type {
	margin-left: 0;
}

a.social.first {
	margin-left: 0;
}

a.social.twitter {
	background: url(../img/social-twitter-black.png) 0 0 no-repeat;
}

a.social.facebook {
	background: url(../img/social-facebook-black.png) 0 0 no-repeat;
}

a.social.linkedin {
	background: url(../img/social-linkedin-black.png) 0 0 no-repeat;
}

a.social.googleplus {
	background: url(../img/social-googleplus-black.png) 0 0 no-repeat;
}

a.social.vimeo {
	background: url(../img/social-vimeo-black.png) 0 0 no-repeat;
}

a.social.youtube {
	background: url(../img/social-youtube-black.png) 0 0 no-repeat;
}

a.social.zerply {
	background: url(../img/social-zerply-black.png) 0 0 no-repeat;
}

a.social.pinterest {
	background: url(../img/social-pinterest-black.png) 0 0 no-repeat;
}

a.social.dribbble {
	background: url(../img/social-dribbble-black.png) 0 0 no-repeat;
}

a.social.github {
	background: url(../img/social-github-black.png) 0 0 no-repeat;
}

a.social.instagram {
	background: url(../img/social-instagram-black.png) 0 0 no-repeat;
}

a.social.flickr {
	background: url(../img/social-flickr-black.png) 0 0 no-repeat;
}

a.social.rss {
	background: url(../img/social-rss-black.png) 0 0 no-repeat;
}

a.social.adn {
	background: url(../img/social-adn-black.png) 0 0 no-repeat;
}

a.social.behance {
	background: url(../img/social-behance-black.png) 0 0 no-repeat;
}

a.social.tumblr {
	background: url(../img/social-tumblr-black.png) 0 0 no-repeat;
}

a.social.lastfm {
	background: url(../img/social-lastfm-black.png) 0 0 no-repeat;
}

a.social.xing {
	background: url(../img/social-xing-black.png) 0 0 no-repeat;
}

a.social.foursquare {
	background: url(../img/social-foursquare-black.png) 0 0 no-repeat;
}

a.social.mixcloud {
	background: url(../img/social-mixcloud-black.png) 0 0 no-repeat;
}

a.social.soundcloud {
	background: url(../img/social-soundcloud-black.png) 0 0 no-repeat;
}

a.social.spotify {
	background: url(../img/social-spotify-black.png) 0 0 no-repeat;
}

a.social.white.twitter {
	background: url(../img/social-twitter-white.png) 0 0 no-repeat;
}

a.social.white.facebook {
	background: url(../img/social-facebook-white.png) 0 0 no-repeat;
}

a.social.white.linkedin {
	background: url(../img/social-linkedin-white.png) 0 0 no-repeat;
}

a.social.white.googleplus {
	background: url(../img/social-googleplus-white.png) 0 0 no-repeat;
}

a.social.white.vimeo {
	background: url(../img/social-vimeo-white.png) 0 0 no-repeat;
}

a.social.white.youtube {
	background: url(../img/social-youtube-white.png) 0 0 no-repeat;
}

a.social.white.zerply {
	background: url(../img/social-zerply-white.png) 0 0 no-repeat;
}

a.social.white.pinterest {
	background: url(../img/social-pinterest-white.png) 0 0 no-repeat;
}

a.social.white.dribbble {
	background: url(../img/social-dribbble-white.png) 0 0 no-repeat;
}

a.social.white.github {
	background: url(../img/social-github-white.png) 0 0 no-repeat;
}

a.social.white.instagram {
	background: url(../img/social-instagram-white.png) 0 0 no-repeat;
}

a.social.white.flickr {
	background: url(../img/social-flickr-white.png) 0 0 no-repeat;
}

a.social.white.rss {
	background: url(../img/social-rss-white.png) 0 0 no-repeat;
}

a.social.white.adn {
	background: url(../img/social-adn-white.png) 0 0 no-repeat;
}

a.social.white.behance {
	background: url(../img/social-behance-white.png) 0 0 no-repeat;
}

a.social.white.tumblr {
	background: url(../img/social-tumblr-white.png) 0 0 no-repeat;
}

a.social.white.lastfm {
	background: url(../img/social-lastfm-white.png) 0 0 no-repeat;
}

a.social.white.xing {
	background: url(../img/social-xing-white.png) 0 0 no-repeat;
}

a.social.white.foursquare {
	background: url(../img/social-foursquare-white.png) 0 0 no-repeat;
}

a.social.white.mixcloud {
	background: url(../img/social-mixcloud-white.png) 0 0 no-repeat;
}

a.social.white.soundcloud {
	background: url(../img/social-soundcloud-white.png) 0 0 no-repeat;
}

a.social.white.spotify {
	background: url(../img/social-spotify-white.png) 0 0 no-repeat;
}



@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 1.5/1),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

	#respond-title a:after {
		background-image: url(../img/comment-arrow@2x.png);
		background-size: 24px 100px;
	}

	.share a.icon-twitter {
		background-image: url(../img/social-twitter-black@2x.png);
		background-size: 22px 22px;
	}

	.share a.icon-facebook {
		background-image: url(../img/social-facebook-black@2x.png);
		background-size: 22px 22px;
	}

	.share a.icon-pinterest {
		background-image: url(../img/social-pinterest-black@2x.png);
		background-size: 22px 22px;
	}

	.share a.icon-google-plus {
		background-image: url(../img/social-googleplus-black@2x.png);
		background-size: 22px 22px;
	}

	a.social.twitter {
		background: url(../img/social-twitter-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.facebook {
		background: url(../img/social-facebook-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.linkedin {
		background: url(../img/social-linkedin-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.googleplus {
		background: url(../img/social-googleplus-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.vimeo {
		background: url(../img/social-vimeo-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.youtube {
		background: url(../img/social-youtube-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.zerply {
		background: url(../img/social-zerply-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.pinterest {
		background: url(../img/social-pinterest-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.dribbble {
		background: url(../img/social-dribbble-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.github {
		background: url(../img/social-github-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.instagram {
		background: url(../img/social-instagram-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.flickr {
		background: url(../img/social-flickr-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.rss {
		background: url(../img/social-rss-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.adn {
		background: url(../img/social-adn-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.behance {
		background: url(../img/social-behance-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.tumblr {
		background: url(../img/social-tumblr-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.lastfm {
		background: url(../img/social-lastfm-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.xing {
		background: url(../img/social-xing-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.foursquare {
		background: url(../img/social-foursquare-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.twitter {
		background: url(../img/social-twitter-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.facebook {
		background: url(../img/social-facebook-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.linkedin {
		background: url(../img/social-linkedin-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.googleplus {
		background: url(../img/social-googleplus-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.vimeo {
		background: url(../img/social-vimeo-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.youtube {
		background: url(../img/social-youtube-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.zerply {
		background: url(../img/social-zerply-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.pinterest {
		background: url(../img/social-pinterest-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.dribbble {
		background: url(../img/social-dribbble-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.github {
		background: url(../img/social-github-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.instagram {
		background: url(../img/social-instagram-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.flickr {
		background: url(../img/social-flickr-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.rss {
		background: url(../img/social-rss-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.adn {
		background: url(../img/social-adn-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.behance {
		background: url(../img/social-behance-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.tumblr {
		background: url(../img/social-tumblr-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.lastfm {
		background: url(../img/social-lastfm-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.xing {
		background: url(../img/social-xing-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.foursquare {
		background: url(../img/social-foursquare-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.mixcloud {
		background: url(../img/social-mixcloud-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.soundcloud {
		background: url(../img/social-soundcloud-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.mixcloud {
		background: url(../img/social-mixcloud-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.soundcloud {
		background: url(../img/social-soundcloud-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.spotify {
		background: url(../img/social-spotify-black@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.social.white.spotify {
		background: url(../img/social-spotify-white@2x.png) 0 0 no-repeat;
		background-size: 21px 21px;
	}

	a.flex-next, a.flex-prev {
		background-image: url(../img/arrows@2x.png);
		background-size: 200px 13px;
	}

	a.jp-play span,
	a.jp-pause span {
		background-image: url(../img/audio@2x.png);
		background-size: 30px 120px;
	}

	.quotemark {
		background-image: url(../img/quotemark@2x.png);
		background-size: 28px 19px;
	}

	.quotemark.white {
		background-image: url(../img/quotemark-white@2x.png);
	}

	.quote-rating-1, .quote-rating-2, .quote-rating-3, .quote-rating-4, .quote-rating-5 {
		background-image: url(../img/stars@2x.png);
		background-size: 97px 176px;
	}

	.quotemark.white .quote-rating-1, .quotemark.white .quote-rating-2, .quotemark.white .quote-rating-3, .quotemark.white .quote-rating-4, .quotemark.white .quote-rating-5 {
		background-image: url(../img/stars-white@2x.png);
		background-size: 97px 176px;
	}

	.bullets.green li {
		background-image: url(../img/tick-green@2x.png);
		background-size: 16px 13px;
	}

	.bullets.red li {
		background-image: url(../img/tick-red@2x.png);
		background-size: 16px 13px;
	}

	.bullets.black li {
		background-image: url(../img/tick-black@2x.png);
		background-size: 16px 13px;
	}

	.bullets.light-blue li {
		background-image: url(../img/tick-light-blue@2x.png);
		background-size: 16px 13px;
	}

	.bullets.blue li {
		background-image: url(../img/tick-blue@2x.png);
		background-size: 16px 13px;
	}

	.bullets.grey li {
		background-image: url(../img/tick-grey@2x.png);
		background-size: 16px 13px;
	}

	.bullets.orange li {
		background-image: url(../img/tick-orange@2x.png);
		background-size: 16px 13px;
	}

	.bullets.pink li {
		background-image: url(../img/tick-pink@2x.png);
		background-size: 16px 13px;
	}

	.bullets.purple li {
		background-image: url(../img/tick-purple@2x.png);
		background-size: 16px 13px;
	}

	.toggle .toggle-title:before {
		background-image: url(../img/toggle-open@2x.png);
		background-size: 12px 12px;
	}

	.toggle .toggle-title.active:before {
		background-image: url(../img/toggle-close@2x.png);
		background-size: 12px 12px;
	}

}



.mt-insert,
.js .mt-insert .wp-caption {
	width: 100%;
	display: inline-block;
	margin: 15px 0;
	z-index: 1;
	overflow: hidden;
}

.mt-insert p {
	line-height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.mt-insert p.wp-caption-text {
	padding: 20px 0 !important;
	line-height: 1.4 !important;
}

.mt-insert .wp-caption img {
	width: 100%;
}

.js .mt-insert img,
.js .mt-insert .wp-caption {
	display: block;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	left: 0;
}

.js .mt-insert.remove-abs img {
	position: relative;
}

.js .mt-insert.remove-abs {
	margin-bottom: 80px !important;
}
